{{ 'global.css' | asset_url | stylesheet_tag }}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  .annocement-wrapper {
      background: var(--green);
      padding: 12px 12px;
  }

  .annocement-container {
      max-width: 1440px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
  }

  .annocement-left,
  .annocement-right {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--beige);
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
  }

  .annocement-right {
      text-align: right;
  }

  @media (max-width: 1024px) {

      .annocement-wrapper {
          padding: 12px 30px;
      }

      .annocement-left img,
      .annocement-right img {
          display: none;
      }

      .annocement-left,
      .annocement-right {
          font-size: 12px;
      }
  }

  @media (max-width: 768px) {

      .annocement-wrapper {
          padding: 12px 20px;
      }

      .annocement-container {
          flex-direction: column;
          gap: 10px;
      }

      .annocement-left,
      .annocement-right{
          text-align: center;
      }
  }
</style>

<section class="annocement-wrapper">
  <div class="annocement-container">
    <div class="annocement-left">
      <img src="https://cdn.shopify.com/s/files/1/0742/9839/2711/files/right-line.png?v=1780039435" alt="left-line">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="annocement-right">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <img src="https://cdn.shopify.com/s/files/1/0742/9839/2711/files/left-line.png?v=1780039435" alt="right-line">
    </div>
  </div>
</section>
