{{ 'global.css' | asset_url | stylesheet_tag }}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  .header-wrapper {
      background: var(--beige);
      border-bottom: 2px solid var(--green);
  }

  .header-container {
      padding: 29px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  }

  .header-nav {
      display: flex;
      gap: 32px;
  }

  .header-nav a {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      color: var(--green);
      text-decoration: none;
  }

  .header-logo {
      position: absolute;
      left: 50%;
      top: -27px;
  }

  .header-icons {
      display: flex;
      gap: 18px;
  }

  .header-cart-button {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 0;
  }

  @media (max-width:1024px) {
      .header-container {
          padding: 0 30px;
      }

      .header-logo {
          position: static;
      }

      .header-nav {
          display: none;
      }
  }

  @media (max-width:768px) {
      .header-container {
          padding: 0 20px;
      }

      .user,
      .search {
          display: none;
      }

      .header-logo img {
          width: 60px;
      }
  }
</style>

<header class="header-wrapper">
  <div class="header-container global_container">
    <nav class="header-nav">
      <a href="#">Home</a>
      <a href="#">Product</a>
      <a href="#">About Us</a>
      <a href="#">FAQ</a>
      <a href="#">Contact Us</a>
    </nav>

    <div class="header-logo">
      <img src="/img/logo-main.svg" alt="logo">
    </div>

    <div class="header-icons">
      <a href="#" class="user">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.57757 15.4816C5.1628 16.324 1.45336 18.0441 3.71266 20.1966C4.81631 21.248 6.04549 22 7.59087 22H16.4091C17.9545 22 19.1837 21.248 20.2873 20.1966C22.5466 18.0441 18.8372 16.324 17.4224 15.4816C14.1048 13.5061 9.89519 13.5061 6.57757 15.4816Z" stroke="#1C3025" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z" stroke="#1C3025" stroke-width="1.5"/>
        </svg>
      </a>

      <a href="#" class="search">
        <img src="/img/Search Icon.svg" alt="search">
      </a>

      <a href="#" class="cart header-cart-button">
        <img src="/img/Shopping Cart Icon.svg" alt="cart">
      </a>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header-main",
  "settings": [],
  "presets": [
    {
      "name": "Header-main"
    }
  ]
}
{% endschema %}
