{{ 'global.css' | asset_url | stylesheet_tag }}

<style>

  .pro-img-main{
      width: 100%;
  }

  .pro-img-main img{
      width: 100%;
  }
</style>

<section class="pro-img-main">
  <img src="img/product main.png" alt="product">
</section>
{% schema %}
{
  "name": "Image Banner",
  "settings": [],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
