{{ 'global.css' | asset_url | stylesheet_tag }}

<style>

  .pro-img-main{
      width: 100%;
  }

  .pro-img-main img{
      width: 100%;
      display: block;
  }
</style>

<section class="pro-img-main">
  {%- if section.settings.image != blank -%}
    {%- liquid
      assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
    -%}
    {{
      section.settings.image
      | image_url: width: 3000
      | image_tag:
        width: section.settings.image.width,
        height: image_height,
        alt: section.settings.image.alt | default: 'product',
        sizes: '100vw',
        widths: '375, 550, 750, 1100, 1500, 2000, 3000',
        loading: 'lazy'
    }}
  {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image"
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
